// Codes By Mahdi Tasha
@use "../../global";

.main-side {
  &__top-left-side-toggler {display: none;}
  &__top {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 1rem;
  }

  &__top-form-btn {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
    background-color: transparent;
    border: none;
  }

  &__top-form {
    height: 50px;
    display: flex;
    align-items: center;
    width: 75%;
    margin-right: 1rem;
    padding: 1rem;
    background-color: global.$gunmetal;
    border-radius: 10px;
  }

  &__top-form-input {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: global.$grey;
    outline: none;

    &::placeholder {color: global.$grey;}
  }

  &__top-btn-link {
    display: block;
    width: 50%;
  }

  &__top-notif-btns-holder {
    display: flex;
    width: 25%;

    &>a:first-of-type {margin-right: 1rem;}
  }

  &__top-btn {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: global.$gunmetal;
    border: none;
  }

  &__top-btn-inner-span {position: relative;}

  &__top-btn-notif-count {
    position: absolute;
    right: -5px;
    top: -15px;
    width: 18px;
    height: 18px;
    background-color: global.$blue-magenta-violet;
    color: white;
    border-radius: 100%;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1109px) {
  .main-side {
    &__top-form-input {background-color: transparent;}

    &__top {
      background-color: global.$gunmetal;
      border-radius: 20px;
      align-items: center;
    }

    &__top-btn {
      background-color: transparent;
      width: auto;
      height: auto;
    }
  }
}

@media (max-width: 991px) {
  .main-side {
    &__top-notif-btns-holder {display: none;}
    &__top-form {width: 100%;}

    &__top-left-side-toggler {
      display: block;
      margin-right: 2rem;
      height: 50px;
      width: 50px;
      color: white;
      border: none;
      background-color: transparent;
    }
  }
}