// Codes By Mahdi Tasha
$deep-lilac: #A453CB;
$violet: #8B10B6;
$blue-magenta-violet: #52449B;
$magenta-violet: #7D12AF;
$royal-purple: #6F4CA4;
$gunmetal: #272D35;
$chinese-black: #0E131A;
$pale-cyan: #94DAFF;
$sky-magenta: #D261BB;
$indian-red: #CD5656;
$violet-gradiant: linear-gradient(102.27deg, $deep-lilac 0%, $violet 100%);
$magenta-violet-gradiant: linear-gradient(95.04deg, $blue-magenta-violet 15.04%, $magenta-violet 89.27%);